@charset "UTF-8";
.block:after,
.stpics li:after {
	content: "\0020";
	clear: both;
	overflow: hidden
}

#woo-holder.collhide .collbtn,
.woo-masned {
	visibility: hidden
}

#content,
body,
html {
	background-color: #f1f2f3
}

#content {
	width: 1200px;
	min-height: 420px;
	margin: 0 auto;
	padding-bottom: 24px
}

.block {
	zoom: 1;
	width: 100%;
	line-height: 1.5;
	margin-bottom: 32px
}

.block:after {
	display: block;
	height: 0
}

.blockmb {
	margin-bottom: 20px
}

@media screen and (max-width:1262px) {
	#content {
		width: 956px
	}
}

.woo-loading {
	height: 40px;
	background: url(/images/tag/20130730175612_KU2dF.gif) center 12px no-repeat
}

.woo-loading .woo {
	display: none
}

.woo-pcont {
	+height: 0
}

.woo-masned {
	zoom: 1;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto
}

.woo-masned .woo {
	position: absolute;
	top: -6000px
}

.woo-pbr {
	height: 60px;
	overflow: hidden;
	padding-top: 16px;
	line-height: 1;
	text-align: center
}

.woo-pbr .woo-dib {
	height: 100%
}

.woo-pbr a:link,
.woo-pbr a:visited,
.woo-pbr li.woo-cur {
	float: left;
	+display: inline;
	min-width: 40px;
	height: 24px;
	padding: 10px 4px 0;
	+height: 26px;
	+padding-top: 8px;
	white-space: no-wrap;
	word-break: keep-all;
	text-align: center;
	border: 1px solid #e3e2e1;
	border-radius: 4px;
	background-color: #fff;
	color: #444;
	font-size: 14px
}

.cmt-list dd,
.stpics .g,
.stpics li p {
	word-wrap: break-word;
	word-break: break-all
}

#as-pager,
.staf {
	text-align: right
}

.woo-pbr a:hover {
	text-decoration: none;
	background-color: #f6f6f6;
	color: #444
}

.woo-pbr li {
	height: 40px;
	float: left\9;
	display: inline\9;
	margin: 0 4px 0 0
}

.woo-pbr li.woo-cur {
	font-weight: 700;
	color: #fff;
	background-color: #f46
}

.woo-pbr li.woo-ell {
	margin: 14px 8px 0 6px;
	font-size: 10px;
	font-weight: 700;
	+font-size: 12px;
	+font-weight: normal
}

@media all and (min-width:0px) {
	.woo-pbr a {
		display: inline-block;
		float: none
	}
	.woo-pbr li {
		float: left
	}
}

.woo-pbr a.woo-nxt,
.woo-pbr a.woo-pre {
	width: 68px;
	font-weight: 400
}

.woo-pbr .woo-dib {
	float: none!important;
	display: inline-block;
	display: -moz-inline-box;
	-moz-box-align: stretch;
	vertical-align: middle;
	+display: inline
}

@media all and (min-width:0px) {
	.woo-pbr .woo-dib {
		display: inline-block
	}
}

.stpics {
	line-height: 1.5;
	width: 982px
}

.stpics .woo {
	float: left;
	+display: inline;
	height: auto;
	margin: 0 21px 20px 0;
	border-top: 0 none;
	background-color: #fff;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px
}

.stpics .woo-f {
	background: 0 0
}

.stpics .woo .blog-ppcount {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: red;
	height: 16px;
	color: #fff
}

.stpics .woo .j {
	border-width: 0 0 3px;
	border-style: solid;
	border-color: #E3E4E5;
	width: 224px;
	padding: 0;
	border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0
}

.stpics .woo .mbpho {
	position: relative
}

.collbtn,
.stpics .a u {
	position: absolute;
	top: 0;
	left: 0
}

.stpics .o {
	width: auto;
	height: auto;
	padding: 14px 16px 8px 15px;
	border: 1px solid #f7f7f7;
	border-right: 1px solid #f7f7f7;
	border-bottom: 1px solid #f7f7f7;
	background-color: #f7f7f7
}

.stpics .g {
	clear: both;
	overflow: hidden;
	padding: 10px 12px;
	margin: 0;
	color: #444
}

div.stpics .mbpho {
	float: none;
	overflow: hidden;
	width: 224px;
	height: auto;
	margin: 0
}

div.stpics .mbpho img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 224px
}

.stpics .a {
	float: left;
	width: 100%;
	height: 100%
}

.stpics .a u {
	width: 222px;
	margin-top: 0!important;
	border: 1px solid rgba(0, 0, 0, .08)
}

.stpics .a u.woocov,
.stpics .a u:hover {
	border: 1px solid rgba(0, 0, 0, .12);
	background-color: rgba(0, 0, 0, .08)
}

.stpics .a u.bottomfade {
	padding-bottom: 1px;
	border-bottom-width: 0;
	background-image: url(/images/tag/20140607211809_mrv2B.png);
	background-position: 0 bottom;
	background-repeat: repeat-x
}

div.stpics .mbpho .k {
	width: 208px;
	background: url(/images/tag/20120706224429_3JzGy.png) no-repeat
}

div.stpics .mbpho .k img {
	float: left;
	+display: inline;
	margin: 0 4px 4px 0
}

.stpics .w {
	clear: both;
	height: 18px;
	overflow: hidden;
	padding: 0 11px 12px;
	margin: 0;
	background-color: #f8f8f8
}

.stpics .wooscr {
	border-width: 0 1px;
	border-style: solid;
	border-color: #dedfe0
}

.stpics div.d {
	overflow: hidden;
	padding: 0 12px;
	background-color: #fff;
	margin-bottom: 10px;
	border-bottom: none
}

.stpics .d span {
	float: left;
	+display: inline;
	line-height: 19px;
	padding: 0 0 0 16px;
	margin: 0 8px 0 0;
	background-image: url(/images/tag/20140528162525_djtAu.png);
	background-repeat: no-repeat;
	font-size: 13px;
	color: #a0a0a0
}

.stpics .d .d1 {
	background-position: -5px -50px
}

.stpics .d .d2 {
	background-position: -90px -50px
}

.stpics .d .d3 {
	background-position: -175px -50px
}

.stpics .d .d4,
.stpics .d .d5 {
	background-position: -220px -50px
}

.woo ul .re-comt {
	overflow: hidden;
	height: 0;
	padding: 0 11px;
	margin: 0;
	border-top: 0 none
}

.woo ul .re-comt img {
	margin-top: 8px;
	border-radius: 26px
}

.woo ul .re-comt div {
	padding-top: 8px;
	margin-left: 30px
}

.woo ul .re-comt .txa {
	display: block;
	width: 156px;
	height: 60px;
	padding: 4px;
	resize: none
}

.woo ul .re-comt .abtn {
	margin-top: 8px;
	margin-left: 1px
}

.woo ul .re-comt .abtn-s {
	margin: 8px 0 0
}

.stpics ul {
	zoom: 1;
	display: block;
	padding: 0 0 8px
}

.stpics li {
	zoom: 1;
	padding: 8px 11px 7px;
	border-top: 1px solid #f0f0f0
}

.stpics li:after {
	display: block;
	height: 0
}

.stpics li img {
	float: left;
	+display: inline;
	margin: 0 8px 0 0;
	border-radius: 26px
}

.stpics li p {
	float: left;
	+display: inline;
	width: 165px;
	overflow: hidden
}

.stpics li a {
	color: #666
}

.stpics li span {
	color: #888
}

.stpics li i {
	font-size: 10px;
	color: #bbb;
	margin-left: 4px
}

.stpics .woo ._tb {
	vertical-align: top
}

.stpics .woo .d .by ._tb {
	padding-left: 16px;
	background: url(/images/tag/20140607202837_x2yLK.png) 3px -27px no-repeat
}

.collbtn,
.collbtn a.x i,
.collbtn a.y i,
.collbtn a.z i {
	background-repeat: no-repeat
}

.stpics .woo .d a.bl:link,
.woo .d a.bl:visited {
	float: right;
	color: #F14382;
	font-weight: 700;
	vertical-align: top
}

.stpics .woo .d a.bl:hover {
	float: right;
	text-decoration: underline
}

.stpics .woo .d a.by {
	text-decoration: none!important
}

.collbtn {
	width: 208px;
	height: 44px;
	padding: 8px;
	display: none;
	z-index: 500;
	background-image: url(/images/tag/20140528135812_wYJyt.png);
	background-position: 0 -72px
}

.collbtn a.x i,
.collbtn a.y i,
.collbtn a.z i {
	background-image: url(/images/tag/20140528162525_djtAu.png)
}

.collbtn a:hover,
.collbtn a:link,
.collbtn a:visited {
	float: left;
	+display: inline;
	height: 30px;
	text-align: right;
	color: #fff;
	font-size: 14px;
	border-radius: 2px;
	text-decoration: none;
	z-index: 500;
	cursor: pointer
}

.collbtn a.y:link,
.collbtn a.y:visited {
	background-color: #f46;
	background-position: 0 0
}

.collbtn a.y:hover {
	background-color: #e03c5a
}

.collbtn a.y i {
	float: left;
	+display: inline;
	width: 24px;
	height: 24px;
	margin: 3px 0 3px 5px;
	background-position: 0 0;
	z-index: 600
}

.collbtn a.y i.y-done {
	background-position: 0 -24px
}

.collbtn a em {
	float: left;
	+display: inline;
	line-height: 16px;
	height: 16px;
	margin: 7px 8px 7px 0
}

.collbtn a.z:link,
.collbtn a.z:visited {
	float: right;
	+display: inline;
	width: 36px;
	height: 30px;
	z-index: 600;
	overflow: hidden
}

.collbtn a.z i {
	display: block;
	width: 26px;
	height: 24px;
	margin: 2px 6px;
	background-position: -24px 0
}

.collbtn a.z i.z-done {
	background-position: -24px -24px
}

.collbtn a.x:hover i,
.collbtn a.x:link i,
.collbtn a.x:visited i,
.collbtn a.z:hover i,
.collbtn a.z:link i,
.collbtn a.z:visited i {
	text-indent: 9999px
}

.collbtn a.x:link,
.collbtn a.x:visited {
	float: right;
	+display: inline;
	width: 36px;
	height: 30px;
	margin-left: 8px;
	z-index: 600;
	overflow: hidden
}

.collbtn a.x i {
	display: block;
	width: 26px;
	height: 24px;
	margin: 2px 6px;
	background-position: -48px 0
}

.stalbums {
	line-height: 1.5;
	width: 1200px;
	margin-left: 1px;
	visibility: visible
}

.stalbums .woo {
	float: left;
	+display: inline;
	width: 230px;
	height: 308px;
	padding: 0;
	overflow: hidden;
	margin: 0 19px 18px 0
}

.stalbums .albbigimg {
	position: relative;
	height: 208px
}

.stalbums .lev0,
.stalbums .lev1,
.stalbums .lev2 {
	position: absolute;
	top: 4px;
	left: 0;
	width: 200px;
	height: 200px;
	overflow: hidden;
	padding: 1px;
	border: 1px solid #d8d8d8;
	background-color: #fff
}

#as-close:hover,
#as-next:hover,
#as-pre:hover,
.stalbums .lev3 {
	background-color: #000
}

.stalbums a.lev0:hover {
	opacity: .9;
	filter: alpha(opacity=90)
}

.stalbums p.lev1 {
	top: 2px;
	left: 2px
}

.stalbums p.lev2 {
	top: 0;
	left: 4px
}

.stalbums .albbigimg div,
.stalbums .lev3 {
	position: absolute;
	bottom: 2px;
	left: 2px;
	line-height: 28px;
	color: #fff
}

.stalbums .lev3 {
	width: 200px;
	height: 28px;
	opacity: .3;
	filter: alpha(opacity=30)
}

.stalbums .albbigimg div {
	padding: 0 0 0 8px
}

.stalbums li {
	width: 208px;
	padding: 4px 0;
	color: #666
}

.stalbums li span {
	color: #bbb
}

.stalbums li.clr {
	height: 24px;
	overflow: hidden;
	line-height: 28px
}

.stalbums li.clr img {
	float: left;
	+display: inline;
	width: 24px;
	height: 24px;
	margin: 0 6px 0 0;
	vertical-align: middle
}

#woo-holder {
	line-height: 1.5
}

.woo-trans .woo {
	transition: top .8s ease-in-out, left .8s ease-in-out;
	-webkit-transition: top .8s ease-in-out, left .8s ease-in-out;
	-moz-transition: top .8s ease-in-out, left .8s ease-in-out;
	-o-transition: top .8s ease-in-out, left .8s ease-in-out
}

.staf {
	position: absolute;
	width: auto;
	bottom: 0;
	right: 6px
}

.staf a {
	margin: 0 0 0 8px
}

.staf .mblogungood {
	display: none
}

.albumentr {
	height: 20px;
	padding: 0 0 0 22px;
	margin: 8px 0 0;
	background-image: url(/images/tag/20150710114801_vf2eC.png);
	background-repeat: no-repeat;
	background-position: 0 -649px
}

#as-close,
#as-link:link,
#as-link:visited,
#as-next,
#as-pre {
	background-image: url(/images/tag/20150629171046_UVAyS.gif);
	background-repeat: no-repeat
}

#as-main {
	position: relative;
	padding-top: 32px
}

#as-close:link,
#as-close:visited {
	position: absolute;
	top: 0;
	right: 0;
	width: 80px;
	height: 80px;
	background-position: 0 0;
	text-indent: -9999px
}

#as-next:link,
#as-next:visited,
#as-pre:link,
#as-pre:visited {
	visibility: hidden;
	position: absolute;
	width: 180px;
	height: 120px;
	left: 0;
	top: 100px;
	background-position: 0 -200px
}

#as-next.as-thumb:hover,
#as-next:link,
#as-next:visited {
	background-position: 100px -80px
}

#as-next:link,
#as-next:visited {
	left: auto;
	right: 0
}

#as-next img,
#as-pre img {
	display: none;
	width: 80px;
	height: 80px
}

#as-pre.as-thumb:link,
#as-pre.as-thumb:visited {
	width: 180px
}

#as-pre.as-thumb:hover img {
	display: block;
	margin: 20px 0 0 80px
}

#as-next.as-thumb:link,
#as-next.as-thumb:visited {
	width: 180px;
	background-position: 100px -80px
}

#as-next.as-thumb:hover img {
	display: block;
	margin: 20px 0 0 20px
}

#as-nowimg {
	overflow: hidden;
	margin: 0 auto
}

#as-nowimg img {
	display: block;
	margin: 0 auto;
	cursor: pointer
}

#as-link:link,
#as-link:visited {
	position: absolute;
	padding: 0 0 0 20px;
	background-position: 2px -316px;
	color: #bbb
}

#as-link:hover {
	color: #f14382;
	background-position: 2px -346px
}

#as-nowdesc {
	width: 960px;
	margin: 16px auto 0;
	text-align: center;
	color: #f7f7f7
}

#as-pager {
	position: absolute;
	visibility: hidden;
	right: 50%;
	bottom: 0;
	width: auto;
	padding-right: 0;
	height: 30px;
	font-size: 14px;
	color: #666
}

#re-favorite,
.album-header,
.re-onlyedit,
.reply-text {
	position: relative
}

#as-popmess {
	width: 100%;
	top: 0;
	left: 0;
	padding: 40px 0 0;
	text-align: center;
	font-size: 14px;
	color: #aaa
}

#as-popmess a:link,
#as-popmess a:visited {
	color: #aaa;
	text-decoration: underline
}

#as-popmess a:hover {
	color: #f14382
}

.reply-body {
	background-color: #F7F7F7
}

.reply-body img {
	display: block
}

.reply-body .pbr {
	padding: 0 8px 8px 0;
	margin: 0;
	height: 46px
}

#js-cmt-count {
	float: right;
	margin-top: -24px;
	padding-right: 16px;
	color: #BBB
}

.reply-body textarea {
	width: 524px;
	height: 42px
}

.reply-body dl {
	zoom: 1;
	border-top: 1px solid #FFF
}

.reply-body dl:after {
	content: "0020";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both
}

.reply-body dt {
	float: left;
	width: 80px;
	margin-top: 16px;
	overflow: hidden
}

.reply-body dd {
	float: right;
	width: 100%;
	margin-top: 16px;
	margin-right: -80px
}

.reply-body dd .cmt-ctnt,
.reply-body dd h3 {
	margin-right: 80px;
	padding-right: 12px
}

.reply-body dt img {
	margin-left: 16px
}

.reply-area {
	padding-bottom: 16px;
	border-top: 1px solid #EBEBEB
}

.reply-area .reply-input {
	border-top: 1px solid #FFF
}

.reply-area .reply-input textarea {
	overflow: hidden
}

.reply-sub {
	padding: 8px 0 0
}

.cmt-list {
	padding-bottom: 16px;
	border-top: 1px solid #EBEBEB
}

.cmt-list dd {
	line-height: 21px
}

.cmt-list dd h3 {
	font-size: 12px
}

.cmt-list h3 i {
	padding-left: 8px;
	color: #BBB;
	font-size: 10px
}

.cmt-list .rrp-tail {
	padding-top: 8px
}

.cmt-list .rrp-cont {
	padding: 8px 0 0
}

.rrp-cancle {
	line-height: 31px;
	padding-left: 8px
}

.cmt-list .mreplydelete {
	display: none
}

.cmt-list:hover .mreplydelete {
	display: block
}

.reply-body .loading {
	display: none!important;
	margin-bottom: 0;
	padding-bottom: 60px
}

#popalbumedit {
	padding: 4px 24px 24px;
	background-color: #f1f2f3
}

.form-line {
	padding-top: 20px;
	padding-bottom: 20px;
	background: url(/images/tag/20131220173009_fH3Ym.png) left bottom repeat-x
}

.form-content,
.form-line .ipt:focus {
	background-color: #fff
}

#re-close:link,
#re-close:visited,
.re-mbsite {
	background-image: url(/images/tag/20150710114801_vf2eC.png)
}

.form-line:after,
.form-line:before {
	display: table;
	line-height: 0;
	content: ""
}

.form-line:after {
	clear: both
}

.form-line .form-legend {
	float: left;
	width: 52px;
	padding-right: 20px;
	text-align: left;
	color: #444
}

.form-line .ipt,
.form-line .txa {
	float: left;
	width: 514px;
	border: 1px solid #cacbcc;
	padding: 4px 8px
}

.form-content {
	float: left;
	width: 532px;
	border: 1px solid #cacbcc
}

.tag-tips {
	padding: 14px 0 0 72px
}

.pop-album-action {
	padding-top: 22px
}

.album-edit-ok:link,
.album-edit-ok:visited {
	float: right;
	width: 80px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	background-color: #22b4f6;
	color: #fff;
	font-size: 15px;
	border-radius: 2px;
	text-decoration: none
}

.album-edit-ok:hover {
	background-color: #1e9ed8
}

.album-delete:link,
.album-delete:visited {
	float: left;
	width: 100px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	background-color: #bbb;
	color: #fff;
	font-size: 15px;
	border-radius: 2px;
	text-decoration: none
}

.album-delete:hover {
	background-color: #a4a4a4
}

#dt-side-combo {
	border-left: 1px solid #dedfe0;
	border-right: 1px solid #dedfe0
}

#dt-side-combo a {
	display: block;
	width: 46px;
	height: 47px;
	margin-top: -1px;
	border-top: 1px solid #ebebeb;
	text-indent: -99999px;
	background-image: url(/images/tag/20150729111454_2mytP.png);
	background-repeat: no-repeat;
	background-position: -1101px -241px
}

#dt-side-combo a.dt-backtotop {
	border-top: 1px solid #dedfe0
}

#dt-side-combo a.dt-app {
	background-position: -1101px -288px
}

#dt-side-combo a.dt-report {
	background-position: -1101px -336px;
	border-bottom: 1px solid #dedfe0
}

#dt-side-combo .dt-backtotop:hover {
	background-position: -1101px -391px
}

#dt-side-combo .dt-app:hover {
	background-position: -1101px -438px
}

#dt-side-combo .dt-report:hover {
	background-position: -1101px -486px
}

.popalblist {
	width: 359px;
	height: 163px;
	margin: 12px 0 16px 24px;
	overflow: hidden;
	overflow-y: scroll;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc #bbb #aaa;
	background-color: #fff
}

.popalblist .loading {
	margin: 0;
	padding: 0;
	background-position: center center
}

.popalblist .al-u {
	padding: 0;
	margin: 0
}

.popalblist .al-u a {
	display: block;
	height: 16px;
	line-height: 16px;
	padding: 4px 8px 6px;
	font-size: 14px
}

.popalblist .al-u a:link,
.popalblist .al-u a:visited {
	color: #999
}

.popalblist .al-u a.cur:hover,
.popalblist .al-u a.cur:link,
.popalblist .al-u a.cur:visited,
.popalblist .al-u a:hover {
	background-color: #eee;
	text-decoration: none;
	color: #238fdb
}

.popalblist .al-u a.cur:hover,
.popalblist .al-u a:hover {
	background-color: #dcecf4
}

.popalblist div.l22 {
	padding: 4px 0 0 12px
}

.popalblist .ipt {
	width: 228px;
	margin: 0 4px 4px 8px
}

.popalblist .abtn-s {
	margin-right: 0
}

.re-mbsite {
	float: left;
	width: 20px;
	height: 20px;
	overflow: hidden;
	margin: 3px 0 0;
	text-indent: -99999px;
	background-repeat: no-repeat
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.re-mbsite {
		margin-top: 4px
	}
}

.re-mbsina {
	background-position: -60px -890px
}

#re-favorite {
	background-color: #F7F7F7;
	color: #333;
	padding: 0 0 32px
}

#re-favorite .txa {
	display: block;
	width: 362px;
	height: 90px;
	margin: 12px 0 0
}

#re-favorite .u-chk label {
	margin-right: 0
}

#re-head {
	height: 52px;
	overflow: hidden;
	border-bottom: 1px solid #ebebeb
}

#re-close:link,
#re-close:visited {
	float: right;
	+display: inline;
	width: 36px;
	height: 36px;
	margin: 8px 8px 0 0;
	background-repeat: no-repeat;
	background-position: -350px -770px;
	text-indent: -9999px
}

#re-close:hover {
	background-position: -386px -770px
}

#re-head h1 {
	float: left;
	+display: inline;
	margin: 8px 0 0 28px;
	letter-spacing: 2px;
	font-size: 24px;
	font-family: '\5FAE\8F6F\96C5\9ED1';
	font-weight: 400;
	color: #666
}

#re-albumtrig,
#re-onlyeditwds {
	width: 340px;
	height: 24px;
	line-height: 23px;
	font-size: 14px;
	overflow: hidden
}

#re-left {
	width: 200px;
	height: 200px;
	overflow: hidden;
	margin: 24px 0 0 28px;
	border: 1px solid #ccc;
	text-align: center
}

#re-left img {
	display: block;
	margin: 0 auto;
	cursor: default
}

#re-right {
	width: 370px;
	margin: 20px 0 0;
	padding-right: 32px
}

#re-right p {
	line-height: 27px
}

#re-albumtrig {
	display: block;
	padding: 2px 20px 0 8px
}

a#re-albumtrig:link,
a#re-albumtrig:visited {
	color: #666;
	border: 1px solid #bababa;
	background-color: #fff;
	background-image: url(/images/tag/20150629171618_CkEuH.gif);
	background-repeat: no-repeat;
	background-position: right -29px
}

a#re-albumtrig:hover {
	background-color: #d7eafb;
	background-position: right 1px;
	text-decoration: none;
	color: #238fdb
}

.re-onlyedit {
	margin: -22px 0 0
}

.re-onlyedit a#re-albumtrig {
	display: none
}

#re-onlyeditwds {
	display: none;
	color: #333;
	border: 0;
	background: #f7f7f7;
	padding: 0
}

.re-inpost,
.re-postsuc {
	line-height: 1.5;
	font-size: 16px;
	font-weight: 400;
	font-family: '\5FAE\8F6F\96C5\9ED1'
}

.re-onlyedit #re-onlyeditwds {
	display: block
}

#re-poststat,
.re-inpost,
.re-postsuc {
	float: right;
	+display: inline
}

#re-subpan {
	margin: 12px 0 0
}

.re-inpost {
	padding-right: 69px;
	margin-right: -20px;
	background: url(/images/tag/20150629161806_LikCX.gif) right -2px no-repeat;
	color: #666
}

.re-posterr {
	color: #f14382
}

.re-postsuc {
	padding-left: 40px;
	background: url(/images/tag/20150629171947_8L2YU.gif) -3px -130px no-repeat;
	color: #666
}

#re-favorite #myalbums-wrap {
	width: 368px;
	top: 100px;
	right: 32px
}

#re-favorite #myalbums-wrap .ipt {
	width: 258px
}

#re-favorite .txa-no {
	overflow: hidden;
	width: 354px;
	height: 88px;
	padding: 5px 8px 0;
	border: 0;
	background: #fff;
	resize: none;
	text-overflow: ellipsis;
	o-text-overflow: ellipsis
}

.woo ul li.f {
	display: none
}

#editentr2 {
	color: #dfdfdf
}

.album-desc-more:hover,
.album-desc-more:link,
.album-desc-more:visited,
.album-header-info td {
	color: #fff
}

.album-header {
	overflow: hidden;
	width: 100%;
	height: 280px
}

.album-header-bg,
.album-header-bg-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 280px
}

img.album-header-bg {
	width: 1200px
}

.album-header-bg-mask {
	top: 0;
	height: 280px;
	background-color: #000;
	opacity: .24;
	filter: alpha(opacity=24)
}

.album-header-info {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -356px;
	width: 712px;
	height: 208px;
	font-size: 13px
}

.album-desc {
	line-height: 22px;
	overflow: hidden;
	word-break: break-word;
	max-height: 66px
}

.album-incoun .album-info{
	float: left;
	height: 72px;
	line-height: 72px;
	color: #fff;
	margin-left: 20px;
	}
.album-header-info .album-info {
	margin-top: 5px;
	margin-bottom: 16px
}

.album-title {
	float: left;
	margin-left: 20px;
	color: #fff;
	font-size: 16px;
	line-height: 72px;
}

.album-header-attr,
.album-header-attr-mask {
	position: absolute;
	width: 100%;
	height: 72px;
	bottom: 0;
	left: 0
}

.album-header-attr-mask {
	background-color: #000;
	opacity: .32;
	filter: alpha(opacity=32)
}

.album-account:hover,
.album-account:link,
.album-account:visited {
	float: left;
	margin-top: 18px;
	margin-left: 16px;
	color: #fff;
	text-decoration: none;
	position: relative
}

.album-account:hover .avatar-v,
.album-account:link .avatar-v,
.album-account:visited .avatar-v {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 20px;
	top: 20px
}

.album-account .avatar {
	width: 36px;
	height: 36px;
	border-radius: 36px;
	vertical-align: middle
}

.album-account:hover .name {
	text-decoration: underline
}

.album-account .name {
	font-size: 14px;
	margin-left: 10px
}

.album-tags {
	float: right;
	margin-right: 18px;
	margin-left: 18px;
	height: 72px;
	max-width: 400px;
	line-height: 72px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
	color: #fff
}

.album-post:link,
.album-post:visited,
.albumcollectbtn:link,
.albumcollectbtn:visited,
.albumlikebtn:link,
.albumlikebtn:visited {
	height: 32px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 2px;
	font-size: 14px;
	color: #fff;
	text-decoration: none
}

.album-tags .tag-legend {
	color: #fff;
	margin-right: -10px
}

.album-tags a {
	color: #fff;
	margin-left: 10px
}

.album-action {
	position: absolute;
	top: 20px;
	left: 94%;
	width: 160px;
	margin-left: -120px;
	text-align: center
}

.album-post:link,
.album-post:visited {
	width: 80px;
	line-height: 32px;
	text-align: center;
	background-color: #f46
}

.albumlikebtn:link,
.albumlikebtn:visited {
	width: 45px;
	line-height: 32px;
	text-align: center;
	background-color: #FB3
}

.albumlikebtn:link:hover,
.albumlikebtn:visited:hover {
	background-color: #EAB346
}

.albumcollectbtn:link,
.albumcollectbtn:visited {
	width: 65px;
	line-height: 32px;
	text-align: center;
	background-color: #f46;
	
}

.albumcollectbtn:link .i,
.albumcollectbtn:visited .i {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	margin-top: -2px;
	margin-right: 2px;
	background-image: url(/images/tag/20140528162525_djtAu.png);
	background-repeat: no-repeat;
	background-position: 0 0
}

.album-post i,
.albumlikebtn i {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	margin-right: 2px;
	vertical-align: middle
}

.album-post:hover,
.albumcollectbtn:link:hover,
.albumcollectbtn:visited:hover {
	background-color: #e03c5a
}

.albumlikebtn .i {
	background-image: url(/images/tag/20140526133240_RmVVc.png);
	background-position: -6px -3px;
	display: inline-block;
	margin-top: -3px
}

.album-post i,
.album-share i {
	display: inline-block;
	background-image: url(/images/tag/20140110112106_SeTRJ.png)
}

.albumlikebtn.albumliked i {
	background-position: -5px -27px
}

.album-post i {
	margin-top: -2px;
	background-position: -80px 0
}

.album-share,
.album-share:hover {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border-radius: 2px;
	background-color: #fff;
	position: relative;
	cursor: pointer
}

.album-share i {
	width: 20px;
	height: 20px;
	margin-top: 6px;
	background-image: no-repeat;
	background-position: -120px 0
}

.album-edit a i,
.album-share-list a,
.albumshowstyle a {
	background-image: url(/images/tag/20140110112106_SeTRJ.png);
	background-repeat: no-repeat
}

.album-share.cur {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0
}

.album-share-list {
	display: none;
	position: absolute;
	top: 0;
	left: 39px;
	width: 0;
	height: 32px;
	background-color: #fff;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	overflow: hidden
}

.album-share-list span {
	float: left;
	height: 32px;
	line-height: 32px;
	text-align: left;
	font-size: 14px
}

.album-share-list a {
	float: left;
	margin-top: 4px;
	margin-right: 4px;
	width: 24px;
	height: 24px;
	background-position: 0 0
}

.album-share-list a.sina {
	background-position: -160px 0
}

.album-share-list a.sina:hover {
	background-position: -160px -40px
}

.album-share-list a.qzone {
	background-position: -200px 0
}

.album-share-list a.qzone:hover {
	background-position: -200px -40px
}

.album-share-list a.txweibo {
	background-position: -240px 0
}

.album-share-list a.txweibo:hover {
	background-position: -240px -40px
}

.album-share-list a.douban {
	background-position: -280px 0
}

.album-share-list a.douban:hover {
	background-position: -280px -40px
}

.album-share-list a.renren {
	background-position: -320px 0
}

.album-share-list a.renren:hover {
	background-position: -320px -40px
}

.album-edit {
	float: right;
	height: 72px;
	line-height: 72px;
	margin-right: 18px
}

.album-edit a:hover,
.album-edit a:link,
.album-edit a:visited {
	color: #fff
}

.album-edit a i {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-position: -360px 0;
	vertical-align: middle;
	margin-right: 2px;
	margin-top: -2px
}

.album-header .dt-vline {
	float: right;
	width: 1px;
	height: 12px;
	margin-top: 30px;
	background-color: #fff
}

.albumshowstyle {
	padding: 24px 0 12px;
	border-bottom: 1px solid #d4d5d5;
	margin-bottom: 23px;
	opacity: 0;
	filter: alpha(opacity=0)
}

.albumshowstyle a {
	float: left;
	width: 20px;
	height: 20px;
	background-position: -400px -2px;
	text-indent: -99999px;
	margin-right: 20px
}

.albumshowstyle a.cur {
	background-position: -400px -42px
}

.albumshowstyle #albumentr {
	background-position: -440px -2px
}

.albumshowstyle #albumentr.cur {
	background-position: -440px -42px
}

.albumshowstyle .album-reply {
	background-position: -480px -2px
}

.albumshowstyle .album-reply.cur {
	background-position: -480px -42px
}

#popalbumdesc {
	padding: 40px 20px;
	background-color: #f1f2f3;
	line-height: 1.8;
	text-align: center;
	overflow: hidden;
	word-break: break-word
}

#popalbumreply {
	padding: 24px;
	background-color: #f1f2f3
}

#popalbumreply .block {
	margin-bottom: 0
}

#popalbumreply .abtn:link,
#popalbumreply .abtn:visited {
	margin-right: 0;
	background-image: none;
	background-color: #22b4f6;
	text-decoration: none
}

#popalbumreply .abtn:hover,
#popalbumreply .abtn:hover u {
	background-color: #1e9ed8
}

#popalbumreply .abtn u {
	background-image: none;
	background-color: #22b4f6
}

#popalbumreply .reply-input .cmt-avatar {
	display: none
}

#popalbumreply .reply-sub {
	margin-top: 12px
}

#popalbumreply #sub-cmt-reply {
	float: right
}

#popalbumreply .txa {
	width: 604px;
	height: 78px!important
}

.reply-editcont #txa-cmt-label {
	display: none!important
}

#popalbumreply .reply-body {
	background-color: #f1f2f3
}

#popalbumreply .ppname:hover,
#popalbumreply .ppname:link,
#popalbumreply .ppname:visited {
	color: #444
}

#popalbumreply .cmt-avatar img {
	width: 32px;
	height: 32px;
	border-radius: 32px
}

#popalbumreply .reply-body dd {
	float: none;
	width: auto;
	margin-top: 12px;
	margin-right: 0
}

#popalbumreply .reply-input dd {
	margin-top: 0
}

#popalbumreply .reply-input {
	border: 0
}

#popalbumreply #js-cmt-count {
	display: none
}

#popalbumreply .cmt-ctnt {
	margin-left: 60px
}

#popalbumreply .reply-body dd h3,
.reply-body dd .cmt-ctnt {
	margin-right: 0
}

#popalbumreply .reply-body dt {
	width: 60px
}

@media screen and (max-width:1262px) {
	.album-header-bg {
		margin-left: -122px
	}
	.album-tags {
		float: right;
		margin-right: 18px;
		margin-left: 18px;
		height: 72px;
		max-width: 300px;
		line-height: 72px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: left;
		color: #fff
	}
}